# 高德地图配置
AMAP_API_KEY=13f11feaf099cf74705caa03d96b7cd7

# 和风天气配置
QWEATHER_API_HOST=m27fc36t6w.re.qweatherapi.com
QWEATHER_KEY_ID=KCPQ6YKPYE
QWEATHER_PROJECT_ID=3DTKTH2MC5

# 服务器配置
PORT=3000
NODE_ENV=development

# 数据存储配置
DATA_FILE_PATH=./backend/data/locations.json
